@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700;800;900&display=swap');
@import '~materialize-css/dist/css/materialize.min.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding-top: 70px;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.page-wrapper{
    height: 100%;
}

.about-task{
    width: 100%;
    gap: 8px;
}  
.about-task .task-complete-wrapper{
    width: 36px;
    height: 36x;
    flex-grow: 0;
    flex-shrink: 0;
}
.about-task .task-content{
    flex: 1 1 auto;
}
.about-task .btn{
    width: 36px;
    flex-grow: 0;
    flex-shrink: 0;
}

.page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 20px;
}

.btn-outline-secondary{
    color: #78909c;
    border: 1px solid #78909c;
    background-color: transparent;
}

@media (max-width: 567px){
    .enter__task{
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
    input[type=text].input-for-adding {
        width: 290px;
    }
    .task__wrapper {
        padding: 0 20px;
    }
}